[submodule "NemoClaw"]
	path = NemoClaw
	url = https://github.com/NVIDIA/NemoClaw.git
[submodule "external/mujoco_menagerie"]
	path = external/mujoco_menagerie
	url = https://github.com/google-deepmind/mujoco_menagerie.git
	shallow = true
